<section class="section achievements-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Achievements</h2>
    <!-- <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div> --><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#">Won Vitech Sponsor prize at YHack 2016</a></span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Stood 2nd in MHacks 8, Detroit</a></span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Stood 1st in IEEE Programmers League, GraVita’s 2011, VIT tech fest</a></span>
    </div><!--//item-->
</section><!--//section-->