<section class="section achievements-section" style="border-bottom: none;">
    <h2 class="section-title"><i class="fa fa-trophy"></i>Achievements</h2>
    <!-- <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div> --><!--//intro-->
    <div class="item">
        <ul class="project-title"><li href="#">Won Vitech Sponsor prize at YHack 2016</li></ul>
    </div><!--//item-->
    <div class="item">
        <ul class="project-title"><li href="#" target="_blank">Stood 2nd in MHacks 8, Detroit</li></ul>
    </div><!--//item-->
    <div class="item">
        <ul class="project-title"><li href="#" target="_blank">Stood 1st in IEEE Programmers League, GraVita’s 2011, VIT tech fest</li></ul>
    </div><!--//item-->
</section><!--//section-->