 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">M. S. in Computer Science</h4>
    <h5 class="meta">University of Illinois, Chicago</h5>
    <div class="time">Aug 2015 - Dec 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B. Tech. in Computer Science</h4>
    <h5 class="meta">VIT University, Vellore</h5>
    <div class="time">Jul 2009 - May 2013</div>
</div><!--//item-->
</div><!--//education-container-->