<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Machine Learning Intern</h3>
                            <div class="time">Jun 2016 - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Zomato, Gurgaon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on personalization in search for zomato users.</p>
                        <p>Implemented spam detection filters on user reviews, using
                            unsupervised machine learning techniques and fuzzy string matching.</p>
                        <p>Extracted trending and popular dishes of a restaurant from user
                            reviews using NLP techniques and Convolutional neural network(CNN).
                            Tech Stack: Python, NLTK, Keras</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Dec 2014 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Zomato, Gurgaon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Reduced expenditure on proprietary maps services, by implementing maps infrastructure using OpenStreetMaps running on AWS servers.</p>
                        <p>Enhanced website’s image rendering process by moving from file based system to AWS S3.</p>
                        <p>Developed photos upload, menu upload, restaurant details update and more functionalities for zomato users and merchants. Tech: PHP, BackboneJS, Redis, HTML/CSS/Javascript, APIs, Git.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->