<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <!-- <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div> --><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#hook">Smart Dish Advisor</a></span> - <span class="project-tagline">Based on the ingredients available, and the time constraint(if mentioned), suggests a dish that can be prepared. Implemented in JESS.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Pokemonify your name</a></span> - 
        <span class="project-tagline">Using phonic distance and string distance methods, finds the closest pokemon name, and inserts the username in the appropriate position.</span>
    </div><!--//item-->
</section><!--//section-->